.registertitle{
    margin-block: 10px;
    padding-block: 30px;
    /* padding-bottom: 40px; */
}
.registertitle01{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
.registertitle02{
    margin: 30px;
    padding: 20px;
}
.registertitle00{
    margin: 30px;
}